<div class = "test">
    <h3>Day la component Home</h3>
    <h1>Trai cay</h1>

    <!-- <table class="table">
        <tr>
            <th>Thứ tự</th>
            <th>Tên</th>
            <th>Giá</th>
            <th>Hạ giá</th>
        </tr>
        <tr *ngFor="let trai of traiCay2; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ trai.ten  | uppercase }}</td>
            <td class = "right">
                <span [ngClass]="{'so-am': trai.gia < 0}">{{ trai.gia | currency: 'VND':'symbol':'1.2' }}</span>
            </td>
            <td class="right">
                <span>{{ trai.haGia | onSale | uppercase}}</span>
            </td>
        </tr>
    </table> -->

    Tỉnh / Thành Phố:
    <select name="" id="city" (change)="changeCity($event)">
        <option *ngFor="let city of cities" value="{{city.city}}">{{city.city}}</option>
    </select>
    <br>
    <br>
    Quận / Huyện:
    <select name="" id="district">
        <option *ngFor="let district of districts" value="{{district}}">{{district}}</option>
    </select>
</div>